$primary-color: #ffffff;
$primary-color-dark: #f2f2f2;
$secondary-color: #1892d3;
$secondary-color-dark: #1375a9;
$accent-color: #efb428;
$background-color: #e1e8f0;

$left-spacing: 30rem;

@mixin small-pfp {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
}


// Global styles
:root {
    font-size: 6.25%;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16rem;
    box-sizing: border-box;
    background-color: $background-color;
    margin: 0;
  }

input {
padding: 0;
margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

h1, h5, h4 {
    font-size: inherit;
    margin: 0;
  }

p {
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: inherit;
  }

// Page layout
.page-layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

// Sidebar
.sidebar {
    background-color: $secondary-color;
    color: $primary-color;
    grid-column: 1;
    grid-row: 1 / 4;

    .main-logo {
        width: 50rem;
        height: 50rem;
    }

    .icon {
        width: 25rem;
    }
}

// Search bar
.search-bar {
    background-color: $primary-color;
    grid-column: 2;
    display: flex;
    padding-top: 17px;
    padding-bottom: 15px;
    
    .search-left {
        display: flex;
        flex: 2;
        align-items: center;

        .search-icon {
            flex: 0;
        }

        form {
            display: flex;
            height: 30rem;
            flex: 1;

            input {
                border-radius: 30rem;
                width: 75%;
                background-color: $background-color;
                border: none;
            }
        }
    }

    .search-right {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: end;
        margin-right: 70rem;
        font-weight: 900;
    }

    .icon {
        width: 25rem;
        height: 25rem;
    }

    .search-icon {
        margin-left: $left-spacing;
    }
    .bell-icon {
        margin-right: 20rem;
    }

    .profile-picture {
        @include small-pfp();
        margin-right: 20rem;
    }
}

// Header
.header {
    grid-column: 2;
    background-color: $primary-color;
    display: flex;
    padding-left: $left-spacing;
    padding-bottom: 15rem;
    box-shadow: 0px 2px 3px #AFAFAF;

    .header-left {
        display: grid;
        grid-template-columns: 1fr 6969fr;
        grid-template-rows: 1fr 1fr;
        flex: 2;

        .profile-picture {
            grid-column: 1;
            grid-row: 1 / 3;
            margin-right: 20rem;
        }

        .header-text {
            grid-column: 2;
            grid-row: 1 / 3;
            align-self: center;

            :first-child {
                font-size: 16rem;
                font-weight: 700;
                margin-bottom: 3rem;
            }

            :nth-child(2) {
                font-weight: 900;
                font-size: 22rem;
            }
        }
    }

    .header-right {
        display: flex;
        justify-content: end;
        align-self: center;
        flex: 1;
        margin-right: 70rem;
        
        button {
            font-size: 18rem;
            background-color: $secondary-color;
            transition: background-color 0.3s;
            color: $primary-color;
            border: none;
            border-radius: 20rem;
            padding: 10rem 35rem;
            font-weight: 900;
            margin-right: 20rem;
        }

        :nth-child(3) {
            margin-right: 0;
        }

        button:hover {
            background-color: $secondary-color-dark;
            color: $primary-color-dark;
        }
    }

    .profile-picture {
        width: 75rem;
        height: 75rem;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

// Main
main {
    grid-column: 2;
    display: grid;
    gap: 20rem;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20rem;
    margin-right: 30rem;
    margin-left: $left-spacing;
}

// Projects
.projects {
    grid-row: 1 / -1;

    h4 {
        margin-bottom: 10rem;
        font-size: 20rem;
    }

    img {
        width: 20rem;
        height: 20rem;
    }
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
    height: 80%;
    gap: 20rem;

    .card {
        display: flex;
        flex-direction: column;
        background-color: $primary-color;
        padding-left: 40rem;
        padding-top: 40rem;
        border-radius: 10px;
        background: linear-gradient(to right, $secondary-color 3.5%, $primary-color 3.5%);
        box-shadow: 1px 3px 3px #AFAFAF;

        p {
            flex: 1;
        }

        .project-icons {
            align-self: end;
            padding: 20rem;
        }
    }
}
// Announcements 
.announcements {
    grid-column: 2;
    border: 1px solid red;
    display: grid;
}

// Trending
.trending {
    grid-column: 2;
    border: 1px solid red;

    .profile-picture {
        @include small-pfp();
    }
}
