:root {
  font-size: 6.25%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16rem;
  box-sizing: border-box;
  background-color: #e1e8f0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h5, h4 {
  font-size: inherit;
  font-weight: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  border-radius: 10px;
  box-shadow: 1px 3px 3px #AFAFAF;
  background-color: #ffffff;
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 9fr;
  height: 100vh;
}

.sidebar {
  background-color: #1892d3;
  color: #ffffff;
  grid-column: 1;
  grid-row: 1/4;
}
.sidebar .main-logo {
  width: 50rem;
  height: 50rem;
}
.sidebar .icon {
  width: 25rem;
}

.search-bar {
  background-color: #ffffff;
  grid-column: 2;
  display: flex;
  padding-top: 15rem;
}
.search-bar .search-left {
  display: flex;
  flex: 2;
  align-items: center;
}
.search-bar .search-left .search-icon {
  flex: 0;
}
.search-bar .search-left form {
  display: flex;
  height: 30rem;
  flex: 1;
}
.search-bar .search-left form input {
  border-radius: 30rem;
  width: 75%;
  background-color: #e1e8f0;
  border: none;
}
.search-bar .search-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  margin-right: 70rem;
  font-weight: 900;
}
.search-bar .icon {
  width: 25rem;
  height: 25rem;
}
.search-bar .search-icon {
  margin-left: 30rem;
}
.search-bar .bell-icon {
  margin-right: 20rem;
}
.search-bar .profile-picture {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20rem;
}
.search-bar .profile-picture img {
  width: 100%;
  height: auto;
  display: block;
}

.header {
  grid-column: 2;
  background-color: #ffffff;
  display: flex;
  padding-left: 30rem;
  padding-top: 10rem;
  padding-bottom: 30rem;
  box-shadow: 0px 2px 3px #AFAFAF;
}
.header .header-left {
  display: grid;
  grid-template-columns: 1fr 6969fr;
  grid-template-rows: 1fr 1fr;
  flex: 2;
}
.header .header-left .profile-picture {
  grid-column: 1;
  grid-row: 1/3;
  margin-right: 20rem;
  align-self: center;
}
.header .header-left .header-text {
  grid-column: 2;
  grid-row: 1/3;
  align-self: center;
}
.header .header-left .header-text :first-child {
  font-size: 16rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.header .header-left .header-text :nth-child(2) {
  font-weight: 900;
  font-size: 22rem;
}
.header .header-right {
  display: flex;
  justify-content: end;
  align-self: center;
  flex: 1;
  margin-right: 70rem;
}
.header .header-right button {
  font-size: 18rem;
  background-color: #1892d3;
  transition: background-color 0.3s;
  color: #ffffff;
  border: none;
  border-radius: 20rem;
  padding: 10rem 35rem;
  font-weight: 900;
  margin-right: 20rem;
}
.header .header-right :nth-child(3) {
  margin-right: 0;
}
.header .header-right button:hover {
  background-color: #1375a9;
  color: #f2f2f2;
}
.header .profile-picture {
  width: 75rem;
  height: 75rem;
  border-radius: 50%;
  overflow: hidden;
}
.header .profile-picture img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  grid-column: 2;
  display: grid;
  gap: 20rem;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 20rem;
  margin-right: 30rem;
  margin-left: 30rem;
}
main p {
  color: #585858;
}

.projects {
  grid-row: 1/-1;
}
.projects h4 {
  margin-bottom: 10rem;
  font-size: 20rem;
}
.projects img {
  width: 20rem;
  height: 20rem;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
  height: 80%;
  gap: 20rem;
}
.projects-cards .card {
  display: flex;
  flex-direction: column;
  padding-left: 40rem;
  padding-top: 40rem;
  background: linear-gradient(to right, #1892d3 3.5%, #ffffff 3.5%);
}
.projects-cards .card p {
  flex: 1;
  font-size: 13rem;
}
.projects-cards .card .project-icons {
  align-self: end;
  padding: 20rem;
}

.main-right {
  grid-column: 2;
}

.announcements {
  display: flex;
  flex-direction: column;
}
.announcements h4 {
  font-size: 20rem;
  margin-bottom: 10rem;
}
.announcements h5 {
  font-size: 13rem;
}
.announcements .card {
  padding: 20rem;
  flex-direction: column;
  display: flex;
}
.announcements .card .announcement {
  font-size: 11rem;
  padding-bottom: 10rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10rem;
}
.announcements .card :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.trending {
  margin-top: 15rem;
}
.trending .trending-profile {
  display: flex;
  margin-bottom: 10rem;
}
.trending .last-profile {
  margin-bottom: 0rem;
}
.trending .trending-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
}
.trending h4 {
  font-size: 20rem;
  margin-bottom: 10rem;
}
.trending .card {
  padding: 20rem;
  font-size: 12rem;
}
.trending .profile-picture {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  overflow: hidden;
}
.trending .profile-picture img {
  width: 100%;
  height: auto;
  display: block;
}/*# sourceMappingURL=main.css.map */